#aboutWrapper {
	margin: 50px auto 0 auto;
	width:700px;
	height:700px;
	background-color: #badeee;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

#aboutContainer {
	margin: 24px auto 0 auto;
	width:650px;
	height:650px;
	background: url("../img/aboutbackground.jpeg") no-repeat;
	background-size: 100% 650px;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}