#foot {
	position:absolute;
	width: 100%;
	height: 80px;
	margin: 0px 0 0 0;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	background: url("../img/headerbackground") no-repeat;
     background-size: cover;
	
	
}

#social {
	height: 100%;
	float: left;
	width:40%;
}

#links {
	height: 100%;
	width: 60%;
	float: right;
}

#facebook {
	height: 100%;
	width: 50%;
	float: left;
}

#twitter {
	height: 100%;
	width: 50%;
	float: left;
}

#facebook .icon {
	background: url(../img/facebook.png) no-repeat;
	background-size: 100% 60px;
	float: left;
	height: 60px;
	width: 30%;
	margin-top: 10px;
}

#social .title {
	color: black;
	margin: 30px 8px 0px 0px;
	font-size: 18px;
	float: left;	
}

#twitter .icon {
	background: url(../img/twitter.png) no-repeat;
	background-size: 100% 60px;
	float: left;
	height: 60px;
	width: 30%;
	margin-top: 10px;
}

#links ul {
	margin: 15px 0 0 10px;
	height: 100%;
	display: block;
	overflow: hidden;
	width: 100%;
}

#links ul li {
	display: inline-block;
	list-style-type: none;
}

#links ul > li > a {
	color: black;
	line-height: 40px;
	padding: 0 20px;
	font-size: 18px;
}
