#historyWrapper {
	margin: 50px auto 0 auto;
	width:700px;
	height:700px;
	background-color: #badeee;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

#historyWrapper h4 {
	text-align: center;
}

#historyContainer {
	margin: 20px auto 0 auto;
	width:600px;
	height:550px;
	background-color: white;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

#historyTable1, #historyTable2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	background: #fff;
	margin: 20px auto 45px auto;
	width: 90%;
	border-collapse: collapse;
	text-align: left;
}
#historyTable1 th, #historyTable2  th {
	font-size: 16px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#historyTable1 td, #historyTable2  td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#historyTable1 tbody tr:hover td, #historyTable2  tbody tr:hover td {
	color: #009;
}

#historyWrapper   input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTranslogin-form.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#historyWrapper   input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTranslogin-form.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

#Addbtn {
	margin:10px auto 0 200px;
	width:120px;
	float:left;
}

#continuebtn {
	margin:10px auto 0 50px;
	width:120px;
	float:left;
}

#historyContainer .select-style {
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-color: #badeee;
	border: 0px solid #FFF;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
